

<header class="bg-bluePeak">
  <p class="text-center p-4">
    logo
  </p>
</header>

<div class="w-full flex flex-col bg-yellow-500">
  <div class="w-96 m-2 bg-green-500 p-4 rounded-lg">
    <p class="text-center">
      Calculo Total de Parcelas
    </p>

    <form class="flex flex-col">
      <label class="mx-2">Valor Inicial</label>
      <input type="text" class="p-2 mx-2 rounded-lg">

      <label class="mx-2">Parcelas</label>
      <input type="text" class="p-2 mx-2 rounded-lg">
    </form>

    <div class="flex justify-center p-4">
      <button class="mr-4">Limpar</button>
      <button 
      (click)="sendValues()"
      class="bg-bluePeak text-white py-2 px-4 rounded-lg" type="submit">Enviar</button>
    </div>

    <div class="flex flex-row justify-center">
      <p>Valor <br/> Final</p>
      <input type="text" class="p-2 mx-2 rounded-lg">
    </div>
  </div>

  <div class="flex flex-col w-96 m-2 bg-green-500 p-4 rounded-lg">
    <p class="text-center">
      Tela de Consulta
    </p>
    
    <form class="flex flex-col">
      <div>
        <input type="radio" id="form" value="1">
        <label for="1">1</label>
      </div>
      
      <div>
        <input type="radio" id="form" value="2">
        <label for="2">2</label>
      </div>
      
      <div>
        <input type="radio" id="form" value="3">
        <label for="3">3</label>
      </div>

    </form>

    <button 
    (click)="sendID()"
    class="bg-bluePeak text-white py-2 px-4 rounded-lg" type="submit">Enviar</button>
  </div>
</div>
